

/* ----------- Variables ---------------- */
:root {
  --bg-clr:hsl(120, 66%, 6%);
  --content-clr: #f4f4f4;
  --fnt-size: 4rem;
}


/* ---------- General CSS Reset ---------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}



/* -------------- Tic-Tac-Toe Layout ---------------  */

body {
  text-rendering: optimizeSpeed;
  background: var(--bg-clr);
  color: var(--content-clr);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fnt-size);
  min-height: 100vh;
  display: grid;
  place-items: center;
  
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  min-height: 60%;

}

.square {
  padding: 4rem;
  width: 200px;
  min-height: 100px;
  margin: 0 auto;
  text-align: center;

}

.sq4, .sq6 {
  border-top: 2px solid var(--content-clr);
  border-bottom: 2px solid var(--content-clr);
}

.sq5 {
  border: 2px solid var(--content-clr);
}

.sq2, .sq8 {
  border-left: 2px solid var(--content-clr);
  border-right: 2px solid var(--content-clr);
}

.square:focus {
  outline: none;
}
